@import "mixins";
@import "variables";

@media all and (min-width: 790px) and (max-width: 1200px) {


    .footer__container {
        @include center(768px);
    }

    .title-white {
        padding-top: 57px;
    }

    .footer__text {
        @include font-size (16px, 28px);
        margin-top: 22px;
    }

    .icons {
        margin: 37px 0;
    }

    .footer__subtext {
        @include font-size (16px, 26px);
        padding-bottom: 56px;
    }
}


@media all and (min-width: 1200px) {


    .footer__container {
        @include center(1170px);
    }

    .title-white {
        padding-top: 66px;
    }

    .footer__text {
        @include font-size (16px, 28px);
        margin-top: 22px;
    }

    .icons {
        margin: 37px 0;
    }

    .footer__subtext {
        @include font-size (16px, 26px);
        padding-bottom: 70px;
    }
}