@import "mixins";
@import "variables";


@media all and (max-width: 787px) and (max-width: 1200px) {

    .navbar__burger {
        position: relative;
    }
    .navbar__burger.open img {
        content: url("/src/img/svg/cross.svg");
        position: absolute;
        z-index: 1;
        top: 7px;
        right: 10px;
    }

    .navbar__list {
        display: none;
        flex-direction: column;
        background: #F5F5F5;
        width: 182px;
        z-index: 1;
        position: absolute;
        top: 61px;
    }
    
    .navbar__list-item {
        @include roboto_400;
        @include font-size(11px, 12px);
        display: flex;
        align-items: center;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: #4E4E4E;
        padding-left: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
    
        &:first-child {
            color: $color_blue;
        }
    }
    
    .active {
        background-color: #E5E5E5;
    }

    .navbar__list.visible {
        display: flex;
    }

    
}
@media all and (min-width: 787px) and (max-width: 1200px) {

    .navbar__wrapper {
        @include center(768px);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navbar__list {
        @include margin_sizes(41px, 43px);
        display: flex;

        .navbar__list-item:not(:first-child) {
            margin-left: 34px;
        }

        .navbar__list-item {
            @include roboto_400;
            @include font-size (11px, 22px);
            letter-spacing: 1.1px;
            text-transform: uppercase;
            color: $color_dark_grey;

            &:hover {
                color: $color_blue;
            }
        }
    }

    .navbar__burger {
        display: none;
    }

    .background__img {
        margin-bottom: 56px;

        img {
            width: 768px;
        }
    }
}


@media all and (min-width: 1200px) {
    .navbar__wrapper {
        @include center(1170px);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navbar__list {
        @include margin_sizes(45px, 51px);
        display: flex;

        .navbar__list-item:not(:first-child) {
            margin-left: 68px;
        }

        .navbar__list-item {
            @include roboto_400;
            @include font-size (11px, 22px);
            letter-spacing: 1.1px;
            text-transform: uppercase;
            color: $color_dark_grey;

            &:hover {
                color: #57A4A4;
            }
        }
    }

    .navbar__burger {
        display: none;
    }

    .background__img {
        margin-bottom: 66px;

        img {
            width: 1170px;
        }
    }
}