@import "mixins";
@import "variables";

@media all and (min-width: 790px) and (max-width: 1200px) {
    .title {
        font-size: 16px;
    }

    .posts-gallery {
        @include center(768px);
    }

    .posts-gallery__wrapper {
        @include margin_sizes(24px, 60px);
    }

    .posts-gallery__item {
        display: flex;
        gap: 21px;
    }
    .posts-gallery__item:last-child {
        display: flex;
    }

    .posts-gallery__title {
        font-size: 14px;
        margin-top: 0px;
    }

    .posts-gallery__subtitle {
        font-size: 12px;
    }

    .posts-gallery__text {
        @include roboto_400;
        @include font-size (14px, 26px);
        display: block;
        color: #5C5C5C;
        margin-top: 13px;
        width: 404px;
    }

    .shots-gallery__container {
        background-color: rgba(236, 236, 238, 0.692);
    }

    .shots-gallery {
        @include center(768px);
    }
    
    .shots-gallery__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shots-gallery .title {
        padding-top: 47px;
    }

    .shots-gallery__text {
        @include roboto_700;
        @include font-size (13px, 22px);
        display: block;
        text-transform: uppercase;
        color: $color_dark_grey;
        margin-top: 47px;
    }

    .shots-gallery__items {
        margin-left: 0;
    }
    .shots-gallery__items img:nth-child(-n+3) {
        @include margin_sizes(35px, 50px);
        display: inline;
        width: 242px;
        height: 242px;
        margin-right: 10px;
    }
}



@media all and (min-width: 1200px) {
    .posts-gallery {
        @include center(1170px);
    }
    .title {
        font-size: 16px;
    }

    .posts-gallery__wrapper {
        @include margin_sizes(24px, 70px);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .posts-gallery__item {
        display: flex;
        img {
            width: 160px;
            height: 140px;
            margin-right: 21px;
        }
    }

    .posts-gallery__item:last-child {
        display: flex;
    }

    .posts-gallery__title {
        font-size: 14px;
        margin-top: 0;
    }

    .posts-gallery__subtitle {
        font-size: 12px;
    }

    .posts-gallery__text {
        @include roboto_400;
        @include font-size (14px, 26px);
        display: block;
        color: #5C5C5C;
        margin-top: 13px;
        width: 404px;
    }

    .shots-gallery__container {
        background-color: rgba(236, 236, 238, 0.692);
    }
    
    .shots-gallery {
        @include center(1170px);
    }

    .shots-gallery__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shots-gallery .title {
        padding-top: 47px;
    }

    .shots-gallery__text {
        @include roboto_700;
        @include font-size (13px, 22px);
        display: block;
        text-transform: uppercase;
        color: $color_dark_grey;
        margin-top: 47px;
    }

    .shots-gallery__items {
        margin-left: 0;
    }

    .shots-gallery__items img:nth-child(-n+4) {
        @include margin_sizes(24px, 49px);
        display: inline;
        width: 278px;
        height: 278px;
        margin-right: 10px;
    }
}