@mixin roboto_400 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

@mixin roboto_700 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin margin_sizes($margin-top, $margin-bottom) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

@mixin center($width) {
    width: $width;
    margin: 0 auto;
}

@mixin font-size($font-size, $line_height) {
    font-size: $font-size;
    line-height: $line_height;
}

