@import "mixins";
@import "variables";
@import "header";
@import "main";
@import "footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    min-width: 320px;
}

.navbar__wrapper {
    @include center(320px);
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navbar__burger {
    width: 44px;
    height: 37px;
    background-color: black;
    margin: 23px 0;
    position: relative;
}

.background__img {
    margin-bottom: 38px;
    text-align: center;

    img {
        width: 320px;
    }
}

.posts-gallery {
    @include center(320px);
}

.title {
    @include roboto_700;
    @include font-size (14px, 22px);
    text-transform: uppercase;
    color: $color_dark_grey;
}

.posts-gallery__wrapper {
    @include margin_sizes(23px, 77px);
}

.posts-gallery__item {
    margin-bottom: 28.5px;

    &:last-child {
        display: none;
    }

    .posts-gallery__subtitle {
        @include roboto_400;
        @include font-size (11px, 20px);
        color: #7C7C7C;
    }
}

.posts-gallery__title {
    @include roboto_700;
    @include font-size (14px, 30px);
    margin-top: 11px;
    color: $color_dark_grey;
}

.posts-gallery__text {
    display: none;
}

.shots-gallery {
    @include center(320px);
}

.shots-gallery__text {
    display: none;
}

.shots-gallery__items img:not(:first-child) {
    display: none;
}

.shots-gallery__items img:first-child {
    @include margin_sizes(13px, 42px);
    width: 301px;
    height: 301px;
}

.footer {
    background-color: black;
    text-align: center;
}

.footer__container {
    @include center(320px);
}

.title-white {
    color: #FEFEFE;
    padding-top: 38px;
}

.footer__text {
    @include roboto_400;
    @include font-size (12px, 20px);
    margin-top: 8px;
    color: $color_light_grey;
}

.icons {
    margin: 26px 0;
}

.footer__subtext {
    @include roboto_400;
    @include font-size (14px, 24px);
    text-align: center;
    color: $color_light_grey;
    padding-bottom: 47px;
}