/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@media all and (max-width: 787px) and (max-width: 1200px) {
  .navbar__burger {
    position: relative;
  }

  .navbar__burger.open img {
    content: url("/src/img/svg/cross.svg");
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 10px;
  }

  .navbar__list {
    display: none;
    flex-direction: column;
    background: #F5F5F5;
    width: 182px;
    z-index: 1;
    position: absolute;
    top: 61px;
  }

  .navbar__list-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    padding-left: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .navbar__list-item:first-child {
    color: #57A4A4;
  }

  .active {
    background-color: #E5E5E5;
  }

  .navbar__list.visible {
    display: flex;
  }
}
@media all and (min-width: 787px) and (max-width: 1200px) {
  .navbar__wrapper {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar__list {
    margin-top: 41px;
    margin-bottom: 43px;
    display: flex;
  }
  .navbar__list .navbar__list-item:not(:first-child) {
    margin-left: 34px;
  }
  .navbar__list .navbar__list-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  .navbar__list .navbar__list-item:hover {
    color: #57A4A4;
  }

  .navbar__burger {
    display: none;
  }

  .background__img {
    margin-bottom: 56px;
  }
  .background__img img {
    width: 768px;
  }
}
@media all and (min-width: 1200px) {
  .navbar__wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar__list {
    margin-top: 45px;
    margin-bottom: 51px;
    display: flex;
  }
  .navbar__list .navbar__list-item:not(:first-child) {
    margin-left: 68px;
  }
  .navbar__list .navbar__list-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  .navbar__list .navbar__list-item:hover {
    color: #57A4A4;
  }

  .navbar__burger {
    display: none;
  }

  .background__img {
    margin-bottom: 66px;
  }
  .background__img img {
    width: 1170px;
  }
}
@media all and (min-width: 790px) and (max-width: 1200px) {
  .title {
    font-size: 16px;
  }

  .posts-gallery {
    width: 768px;
    margin: 0 auto;
  }

  .posts-gallery__wrapper {
    margin-top: 24px;
    margin-bottom: 60px;
  }

  .posts-gallery__item {
    display: flex;
    gap: 21px;
  }

  .posts-gallery__item:last-child {
    display: flex;
  }

  .posts-gallery__title {
    font-size: 14px;
    margin-top: 0px;
  }

  .posts-gallery__subtitle {
    font-size: 12px;
  }

  .posts-gallery__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: block;
    color: #5C5C5C;
    margin-top: 13px;
    width: 404px;
  }

  .shots-gallery__container {
    background-color: rgba(236, 236, 238, 0.692);
  }

  .shots-gallery {
    width: 768px;
    margin: 0 auto;
  }

  .shots-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shots-gallery .title {
    padding-top: 47px;
  }

  .shots-gallery__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    display: block;
    text-transform: uppercase;
    color: #4E4E4E;
    margin-top: 47px;
  }

  .shots-gallery__items {
    margin-left: 0;
  }

  .shots-gallery__items img:nth-child(-n+3) {
    margin-top: 35px;
    margin-bottom: 50px;
    display: inline;
    width: 242px;
    height: 242px;
    margin-right: 10px;
  }
}
@media all and (min-width: 1200px) {
  .posts-gallery {
    width: 1170px;
    margin: 0 auto;
  }

  .title {
    font-size: 16px;
  }

  .posts-gallery__wrapper {
    margin-top: 24px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .posts-gallery__item {
    display: flex;
  }
  .posts-gallery__item img {
    width: 160px;
    height: 140px;
    margin-right: 21px;
  }

  .posts-gallery__item:last-child {
    display: flex;
  }

  .posts-gallery__title {
    font-size: 14px;
    margin-top: 0;
  }

  .posts-gallery__subtitle {
    font-size: 12px;
  }

  .posts-gallery__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: block;
    color: #5C5C5C;
    margin-top: 13px;
    width: 404px;
  }

  .shots-gallery__container {
    background-color: rgba(236, 236, 238, 0.692);
  }

  .shots-gallery {
    width: 1170px;
    margin: 0 auto;
  }

  .shots-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shots-gallery .title {
    padding-top: 47px;
  }

  .shots-gallery__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    display: block;
    text-transform: uppercase;
    color: #4E4E4E;
    margin-top: 47px;
  }

  .shots-gallery__items {
    margin-left: 0;
  }

  .shots-gallery__items img:nth-child(-n+4) {
    margin-top: 24px;
    margin-bottom: 49px;
    display: inline;
    width: 278px;
    height: 278px;
    margin-right: 10px;
  }
}
@media all and (min-width: 790px) and (max-width: 1200px) {
  .footer__container {
    width: 768px;
    margin: 0 auto;
  }

  .title-white {
    padding-top: 57px;
  }

  .footer__text {
    font-size: 16px;
    line-height: 28px;
    margin-top: 22px;
  }

  .icons {
    margin: 37px 0;
  }

  .footer__subtext {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 56px;
  }
}
@media all and (min-width: 1200px) {
  .footer__container {
    width: 1170px;
    margin: 0 auto;
  }

  .title-white {
    padding-top: 66px;
  }

  .footer__text {
    font-size: 16px;
    line-height: 28px;
    margin-top: 22px;
  }

  .icons {
    margin: 37px 0;
  }

  .footer__subtext {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 70px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-width: 320px;
}

.navbar__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbar__burger {
  width: 44px;
  height: 37px;
  background-color: black;
  margin: 23px 0;
  position: relative;
}

.background__img {
  margin-bottom: 38px;
  text-align: center;
}
.background__img img {
  width: 320px;
}

.posts-gallery {
  width: 320px;
  margin: 0 auto;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
}

.posts-gallery__wrapper {
  margin-top: 23px;
  margin-bottom: 77px;
}

.posts-gallery__item {
  margin-bottom: 28.5px;
}
.posts-gallery__item:last-child {
  display: none;
}
.posts-gallery__item .posts-gallery__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #7C7C7C;
}

.posts-gallery__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin-top: 11px;
  color: #4E4E4E;
}

.posts-gallery__text {
  display: none;
}

.shots-gallery {
  width: 320px;
  margin: 0 auto;
}

.shots-gallery__text {
  display: none;
}

.shots-gallery__items img:not(:first-child) {
  display: none;
}

.shots-gallery__items img:first-child {
  margin-top: 13px;
  margin-bottom: 42px;
  width: 301px;
  height: 301px;
}

.footer {
  background-color: black;
  text-align: center;
}

.footer__container {
  width: 320px;
  margin: 0 auto;
}

.title-white {
  color: #FEFEFE;
  padding-top: 38px;
}

.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-top: 8px;
  color: #B9B9B9;
}

.icons {
  margin: 26px 0;
}

.footer__subtext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #B9B9B9;
  padding-bottom: 47px;
}

@media all and (max-width: 787px) and (max-width: 1200px) {
  .navbar__burger {
    position: relative;
  }

  .navbar__burger.open img {
    content: url("/src/img/svg/cross.svg");
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 10px;
  }

  .navbar__list {
    display: none;
    flex-direction: column;
    background: #F5F5F5;
    width: 182px;
    z-index: 1;
    position: absolute;
    top: 61px;
  }

  .navbar__list-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    padding-left: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .navbar__list-item:first-child {
    color: #57A4A4;
  }

  .active {
    background-color: #E5E5E5;
  }

  .navbar__list.visible {
    display: flex;
  }
}
@media all and (min-width: 787px) and (max-width: 1200px) {
  .navbar__wrapper {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar__list {
    margin-top: 41px;
    margin-bottom: 43px;
    display: flex;
  }
  .navbar__list .navbar__list-item:not(:first-child) {
    margin-left: 34px;
  }
  .navbar__list .navbar__list-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  .navbar__list .navbar__list-item:hover {
    color: #57A4A4;
  }

  .navbar__burger {
    display: none;
  }

  .background__img {
    margin-bottom: 56px;
  }
  .background__img img {
    width: 768px;
  }
}
@media all and (min-width: 1200px) {
  .navbar__wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar__list {
    margin-top: 45px;
    margin-bottom: 51px;
    display: flex;
  }
  .navbar__list .navbar__list-item:not(:first-child) {
    margin-left: 68px;
  }
  .navbar__list .navbar__list-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
  .navbar__list .navbar__list-item:hover {
    color: #57A4A4;
  }

  .navbar__burger {
    display: none;
  }

  .background__img {
    margin-bottom: 66px;
  }
  .background__img img {
    width: 1170px;
  }
}
@media all and (min-width: 790px) and (max-width: 1200px) {
  .title {
    font-size: 16px;
  }

  .posts-gallery {
    width: 768px;
    margin: 0 auto;
  }

  .posts-gallery__wrapper {
    margin-top: 24px;
    margin-bottom: 60px;
  }

  .posts-gallery__item {
    display: flex;
    gap: 21px;
  }

  .posts-gallery__item:last-child {
    display: flex;
  }

  .posts-gallery__title {
    font-size: 14px;
    margin-top: 0px;
  }

  .posts-gallery__subtitle {
    font-size: 12px;
  }

  .posts-gallery__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: block;
    color: #5C5C5C;
    margin-top: 13px;
    width: 404px;
  }

  .shots-gallery__container {
    background-color: rgba(236, 236, 238, 0.692);
  }

  .shots-gallery {
    width: 768px;
    margin: 0 auto;
  }

  .shots-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shots-gallery .title {
    padding-top: 47px;
  }

  .shots-gallery__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    display: block;
    text-transform: uppercase;
    color: #4E4E4E;
    margin-top: 47px;
  }

  .shots-gallery__items {
    margin-left: 0;
  }

  .shots-gallery__items img:nth-child(-n+3) {
    margin-top: 35px;
    margin-bottom: 50px;
    display: inline;
    width: 242px;
    height: 242px;
    margin-right: 10px;
  }
}
@media all and (min-width: 1200px) {
  .posts-gallery {
    width: 1170px;
    margin: 0 auto;
  }

  .title {
    font-size: 16px;
  }

  .posts-gallery__wrapper {
    margin-top: 24px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .posts-gallery__item {
    display: flex;
  }
  .posts-gallery__item img {
    width: 160px;
    height: 140px;
    margin-right: 21px;
  }

  .posts-gallery__item:last-child {
    display: flex;
  }

  .posts-gallery__title {
    font-size: 14px;
    margin-top: 0;
  }

  .posts-gallery__subtitle {
    font-size: 12px;
  }

  .posts-gallery__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: block;
    color: #5C5C5C;
    margin-top: 13px;
    width: 404px;
  }

  .shots-gallery__container {
    background-color: rgba(236, 236, 238, 0.692);
  }

  .shots-gallery {
    width: 1170px;
    margin: 0 auto;
  }

  .shots-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shots-gallery .title {
    padding-top: 47px;
  }

  .shots-gallery__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    display: block;
    text-transform: uppercase;
    color: #4E4E4E;
    margin-top: 47px;
  }

  .shots-gallery__items {
    margin-left: 0;
  }

  .shots-gallery__items img:nth-child(-n+4) {
    margin-top: 24px;
    margin-bottom: 49px;
    display: inline;
    width: 278px;
    height: 278px;
    margin-right: 10px;
  }
}
@media all and (min-width: 790px) and (max-width: 1200px) {
  .footer__container {
    width: 768px;
    margin: 0 auto;
  }

  .title-white {
    padding-top: 57px;
  }

  .footer__text {
    font-size: 16px;
    line-height: 28px;
    margin-top: 22px;
  }

  .icons {
    margin: 37px 0;
  }

  .footer__subtext {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 56px;
  }
}
@media all and (min-width: 1200px) {
  .footer__container {
    width: 1170px;
    margin: 0 auto;
  }

  .title-white {
    padding-top: 66px;
  }

  .footer__text {
    font-size: 16px;
    line-height: 28px;
    margin-top: 22px;
  }

  .icons {
    margin: 37px 0;
  }

  .footer__subtext {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 70px;
  }
}